# Change ROS node log levels at start-up
#
# - List logger services:  `rosservice list | grep get_loggers`
# - List loggers:  `rosservice call /move_group/get_loggers`
# - Set logger, run-time:
#   `rosservice call /move_group/set_logger_level ros.moveit_ros_move_group debug`
# - Set loggers
#   - `export ROSCONSOLE_CONFIG_FILE=$PWD/.rosconsole.config`
#   - Add lines to file like `log4j.logger.ros.moveit_ros_move_group=DEBUG`
#
# Format logger output:
# - `export ROSCONSOLE_FORMAT='[${severity}] [${time}] [${node}] [${logger}]: ${message}'`
#
# See http://wiki.ros.org/rosconsole

# Set default logger levels to DEBUG here; known spewers are kept at
# INFO level below
log4j.logger.ros=INFO
log4j.logger.ros.robot_state_publisher=INFO
log4j.logger.ros.rosconsole_bridge=INFO
log4j.logger.ros.actionlib=INFO
log4j.logger.ros.moveit_kinematics.kdl=INFO
log4j.logger.ros.roscpp.roscpp_internal=INFO
log4j.logger.ros.interactive_markers=INFO
log4j.logger.ros.tormach_rb07_ikfast_manipulator_plugin=INFO
log4j.logger.ros.moveit_ros_planning_interface.actionlib=INFO

# RViz
log4j.logger.ros.moveit_core.planning_scene=INFO
# - ros.moveit_core.kinematics_metrics tends to about singularities
log4j.logger.ros.moveit_core.kinematics_metrics=INFO
log4j.logger.ros.moveit_ros_planning.planning_scene_monitor=INFO
# - Silence "Interactive marker 'EE:goal_tool0' contains unnormalized quaternions"
log4j.logger.ros.rviz.quaternions=ERROR

# MoveIt ros_controller manager
#log4j.logger.ros.moveit_ros_control_interface=DEBUG
log4j.logger.ros.moveit_ros_control_interface.actionlib=INFO
log4j.logger.ros.moveit_ros_control_interface.pluginlib.ClassLoader=INFO

# MoveIt planning, kinematics, URDF
#log4j.logger.ros.moveit_ros_planning=DEBUG
log4j.logger.ros.moveit_ros_planning.pluginlib=INFO
log4j.logger.ros.moveit_ros_planning.planning_scene_monitor=INFO

# MoveIt move_group
#log4j.logger.ros.moveit_ros_move_group=DEBUG
log4j.logger.ros.moveit_ros_move_group.pluginlib.ClassLoader=INFO

# hal_hw_interface controller manager
#log4j.logger.ros.controller_manager=DEBUG
log4j.logger.ros.controller_manager.pluginlib=INFO

# za6_arm_trajectory_controller setup and feedback
# - ros.joint_trajectory_controller tends to spew about segments
log4j.logger.ros.joint_trajectory_controller=INFO
log4j.logger.ros.joint_trajectory_controller.actionlib=INFO
# joint_state_controller setup
#log4j.logger.ros.joint_state_controller=DEBUG

# IKFast plugin (super spewer)
log4j.logger.ros.za6_ikfast_manipulator_plugin.ikfast=INFO

# Jogging
# - Silence repeated messages "Stale command. Try a larger
#   'incoming_command_timeout' parameter?"
log4j.logger.ros.jog_arm.jog_arm_server=INFO
