<?xml version="1.0" ?>
<robot name="za6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find za6_tools)/urdf/pivot_gripper_macro.xacro"/>
  <xacro:pivot_gripper_macro prefix="$(arg prefix)"/>

  <!-- 'flange' frame: default pose reference frame -->
  <link name="flange" />
  <joint name="flange-$(arg prefix)za6_pivot_adapter" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
    <axis xyz="0 0 1"/>
    <parent link="flange"/>
    <child link="$(arg prefix)za6_pivot_adapter"/>
  </joint>
</robot>
