<launch>

  <arg name="model" default="$(find za6_tools)/urdf/pivot_gripper_standalone.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find za6_tools)/rviz/pivot_gripper.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
