Source: tormachpathpilotrobotstarter
Maintainer: Jakub Fišer <jakub.fiser@eryaf.com>
Build-Depends: debhelper-compat (= 12),
               dh-cmake (>= 0.6.1),
               dh-cmake-compat (= 1),
               dh-sequence-cmake,
               dh-virtualenv,
               librsvg2-bin,
               python3-venv,
#              cmake (>= 3.20)
Standards-Version: 4.1.5
Section: misc
Priority: extra

Package: pathpilotrobotstarter
Architecture: all
Depends: containerd.io,
         docker-ce,
         docker-ce-cli,
         gir1.2-gtk-3.0,
         lsb-release,
         python3-gi,
         python3-gi-cairo,
         ${misc:Depends},
Description: Tormach PathPilot Robot starter
 This package contains the launch script files for Tormach PathPilot Robot suite
