<?xml version="1.0"?>
<launch>
  <!-- ++++++++++++++++++++++++++ PUBLIC INTERFACE ++++++++++++++++++++++++++ -->
  <!-- Whether to run sim or real robot hardware -->
  <arg name="sim" default="$(eval optenv('HARDWARE_MODE', 'sim') == 'sim')"/>
  <param name="sim" value="$(arg sim)" />

  <!-- Arguments passed to other launch files -->
  <arg name="dev_mode" doc="Launch interface in development mode" />
  <arg name="tool" doc="Connected tool to the robot flange" />
  <!-- HAL debug output -->
  <!-- - Output HAL debug messages to screen (console) -->
  <arg name="hal_debug_output" doc="Print MK-HAL debug messages to the console" />
  <!-- - Set HAL debug level, 0-5 -->
  <arg name="hal_debug_level" doc="MK-HAL debug level limiter (0-5)" />
  <arg name="mastering" doc="Overload settings with mastering values" />
  <arg name="ros_wait_timeout_s" doc="Timeout for service and instances" />

  <!-- ++++++++++++++++++++++++++++++ END PUBLIC INTERFACE ++++++++++++++++++++++++++++++ -->

  <!-- From robot_ui.launch -->
  <rosparam
      command="load"
      file="$(find za6_robot)/config/moveit_settings.yaml"
      />
  <rosparam
      command="load"
      file="$(find za6_hardware)/config/io_config.yaml"
      />

  <include file="$(find za6_robot)/launch/moveit_planning_execution.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="rviz" value="false" />
    <arg name="tool" value="$(arg tool)" />
    <arg name="hal_debug_output" value="$(arg hal_debug_output)"/>
    <arg name="hal_debug_level" value="$(arg hal_debug_level)"/>
    <arg name="mastering" value="$(arg mastering)"/>
    <arg name="ros_wait_timeout_s" value="$(arg ros_wait_timeout_s)" />
  </include>

  <include file="$(find robot_command)/launch/interpreter_node.launch">
    <arg name="interpreter" value="execution"/>
  </include>

  <include file="$(find za6_robot)/launch/joints_to_pose.launch"/>

</launch>
