<?xml version="1.0"?>
<launch>
  <!-- Override settings in
       ../../za6_moveit_config/launch/planning_context.launch -->

  <arg name="load_robot_description" default="false"/>
  <arg name="robot_description" default="robot_description"/>
  <arg name="mastering" default="false" />
  <arg name="tool" default="none" />

  <include file="$(find za6_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
    <arg name="robot_description" value="$(arg robot_description)"/>
  </include>

  <!-- Load local custom settings -->
  <include file="$(find za6_robot)/launch/overrides.launch">
    <arg name="mastering" value="$(arg mastering)"/>
    <arg name="tool" value="$(arg tool)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    <arg name="robot_description" value="$(arg robot_description)"/>
  </include>

</launch>
